#div__Nakagin {
    position: absolute;
    bottom: 0;
    right: 50px;
}

.button__uebersicht {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 80px;
    width: 270px;
    background-color: transparent;
    border: none;
    text-align: left;
}