/* Übersicht-Page

    Kreis*/
    .div__uebersicht{
        height: 700px;   
        width: 700px;   
        background-color: #bbb;   
        border-radius: 50%;   
        display: inline-block;
        position: absolute;
        object-position: center;
        top: 50%;
        left: 50%;
        margin-top: -360px;
        margin-left: -200px;
        border-style: solid;
        border-color: #591e1a;
    }
    
        /* mein Kind */
    
    .dot{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: black; /* fallback-Farbe */
        background-image: url("https://images.unsplash.com/photo-1574322288467-3248703be63f?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")  ;
        background-position: 40%;
        background-size: 230%;
        transition: all .5s;
      }
      
        /* Zoomt sexy an Gebäude */
      .div__uebersicht:hover .dot,
      .div__uebersicht:focus .dot {
        background-size: 300%;
      } 
    
      .box_1{
        position: absolute;
        top: -20%;
        left: -10%;
        height: 500px; 
        width: 900px;
        background-color: transparent;
        border-style: solid;
        border-color: #591e1a;
      }
    
      .box_2{
        position: absolute;
        top: 200px;
        right:-10px;
        height: 1000px;
        width: 275px;
        background-color: transparent;
        border-style: solid;
        border-color: #591e1a;
      }

      .box_13{
        position: absolute;
        top: -30px;
        left:-180px;
        height: 1000px;
        width: 350px;
        background-color: transparent;
        border-style: solid;
        border-color: #591e1a;
      }
      

/* Infobox */
      .infobox{
        height: 75px;
        width: 150px;
        bottom: -500px;
        left: 50px;
        position: relative;
        background-color :rgba(255, 255, 255,.5);
        
        transform: rotate(-90deg);
        
    }
    .openbox{
        visibility: hidden;
        height:200px;
        width:750px;
        left:  -325px;
        bottom: -500px;
        position: absolute;
        background-color:rgba(255, 255, 255,.5);
        transform: rotate(90deg);
        transition: all 1s;
    }
    .infobox:hover,.infobox:hover .openbox{
        visibility: visible;
        transition: all .5s;
    }

    /*infop ist reusable für alle Infobox headlines/Info-font anpassen*/
    .infop{
        font-size: 72px;
        color:black;

    }
    .infotext{
        font-size: 25px;;
        visibility: hidden;
        color: white;
        transition: all 1s;
      
    }

     /*wechsel der Farbigkeit beim Hovern*/
    .infobox:hover,
    .infop:hover{
      background-color: rgba(17, 16, 16,.5);
      color: white;
    }

    .infobox:hover .openbox,
    .infobox:hover .infotext{
        visibility: visible;
        color: black;
        transition: all 1s;
    
      
    }

        /*Position der überschrift und glitch*/

.ueberschrift_uebersicht{
  position: absolute;
  top: 220px;
  left: 175px
}